@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif; 

    /* fonf: normal 16px 'Roboto',sans-serif; */
   
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.avatar {
     width: 250px;
     border-radius: 28px;
     box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
 }

 .info {
   display: flex;
   margin-bottom: 20px;
}

.infotext {
    margin-left: 40px;
}

/* box model */
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.bg-yellow {
    background: #c5bd94;
}

.bg-green {
    background: #c5bd94;
}

.bg-red {
    background: #c5bd94;
}

.bg-blue {
    background: #c5bd94;
}

.a {
    padding: 15px 20px; 
    margin-bottom: 20px;
    border-radius: 20px
}

.list li {
    color: #3e4044;
    margin-bottom: 10 px;
}






